@media (min-width: 500px) {
.container-1 {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
}

.container-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-1 article,
.container-2 article {
    padding: 10px;
    border: 1px solid silver;
}

.box-1 {
    flex: 2;
    order: 2;
}

.box-2 {
    flex: 2;
    order: 1;
}

.box-3 {
    flex: 1;
    order: 3;
}

.box {
    flex-basis: 20%;
}